 {% include 'main/header.html.twig' %}

  <div class="col-md-9 col-lg-10 main">
  <!--MAIN -->
        <div class="card-block">
                <h4 class="card-title">Miejsca wydatków <a href="create_placesexpenses">+</a></h4>
              </div>   

  </div>
  {% include 'main/footer.html.twig' %}